rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;
    }
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{user} {
      allow read, write: if isSignedIn()
    }

    match /sections/{section}/pages {
      match /{document=**} {
        allow write: if true
      }
    }

   	match /sections {
      // function getRole(rsc) {
      //   return rsc.data.roles[request.auth.uid];
      // }

      // function isOneOfRoles(rsc, array) {
      //   return isSignedIn() && (getRole(rsc) in array);
      // }

      allow read, write: if debug(resource.data.roles.get("nik@skaut.cz"))
      // allow read, write: if isOneOfRoles(resource, ['admin', 'editor']);
    }
  }
}